{% extends 'loyal/b_projects.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/projects_list.css' %}">
{% endblock %}

{% block style %}
    .project{
        margin-top: 10px;
    }
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            新建项目
        </a>
    </div>

    <div class="container">
        {% for project in projects %}
        <div data-goldlog-key="project-portal.project-card" class="card-container__Xkdh">
            <div class="outer__H05m">
                <div class="container__jRZR space__hHZA preview-enabled__n3A3 not-starred___BSl">
                    <div class="thumbnail__T3be"
                         style="background-image: url(&quot;https://tcs-ga.teambition.net/thumbnail/111tef9a0fbcb8a22b1ea0de47d85b9a52e0/w/600/h/300&quot;);"></div>
                    <div class="mask__KQhc"></div>
                    <div class="content__MLRM">
                        <div class="header__QvEs">
                            <div></div>
                            <div><i aria-haspopup="true" aria-expanded="false"
                                    scripturl="https://at.alicdn.com/t/font_1310450_jddjf5l9zi.js"
                                    class="next-icon next-icon-user-add next-medium handler__A3LB">
                                <svg viewBox="0 0 1024 1024">
                                    <use xlink:href="#at-user-add"></use>
                                </svg>
                            </i><i aria-haspopup="true" aria-expanded="false"
                                   scripturl="https://at.alicdn.com/t/font_1310450_jddjf5l9zi.js"
                                   class="next-icon next-icon-trashbin next-medium handler__A3LB">
                                <svg viewBox="0 0 1024 1024">
                                    <use xlink:href="#at-trashbin"></use>
                                </svg>
                            </i></div>
                        </div>
                        <div class="footer__ZKZV card-foot">
                            <div class="name__wt7q" title="哔哩哔哩">{{ project.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<!-- 创建项目的模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">新建项目</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                    {% csrf_token %}
                        {% for field in form_a %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="error-msg"></span>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="btnSubmit" type="button" class="btn btn-primary">创建</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindSubmit();
        })

        function bindSubmit() {
            $("#btnSubmit").click(function () {
                $.ajax({
                    url: "{% url 'project_list' %}",
                    type: "POST",
                    data: $("#addForm").serialize(),
                    dataType: "JSON",
                    success:function (res) {
                        if (res.status){
                            location.href = location.href;
                        }else{
                            $.each(res.error,function (key,value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}